/*COLORS*/
/*SIZE*/
/*BORDER CARD*/
/*FONT*/
/*-----------------------------------------------------------------------------------------------*/
/*MIXIN*/
.enCarrito{
  width:40rem;
  background-color: aquamarine;
  display: flex;
  /* flex-direction: row; */
  text-align: center;
  /* margin: 1px; */
  align-items: center;
  padding: 5px;
}
.modal-carrito{
  width: 40rem;
  height: auto;
  text-align: center;
}
.modal-container{
  width: auto;
  background-color: #eeeeee;
  display: flex;
  position: fixed;
  visibility: hidden;
  z-index: 100;
}
#contenedorPro{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  margin: 20px auto;
}
.card{
  width: 300px;
  text-align: center;
 
}
.modal-active{
  visibility: visible;
}
#open{
  background-color:#fd5d5d;
  border: none;
}
.boton_eliminar{
  background-color: aquamarine;
  border: none;
}
/* .modal-container{
  position: fixed;
  opacity: 0;
} */
.title {
  font-size: 25px;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #2fc4b2;
  padding: 10px 10px; }

.video {
  width: 100%;
  margin-bottom: 30px;
  font-family: "Radio Canada", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap; }

/*PARA EXTEND*/
.transparencia, .tituloGrid, .nombre, .del-todo-pago, .titulo_productos, .container_tituloContac, .container_titulo, .card_container, .container_galeria, .productos {
  margin-top: 20px;
  background: rgba(14, 235, 247, 0.197);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

/*-----------------------------------------------------------------------------------------------*/
/*EXTEND*/
.tituloGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  border: solid gray 1px; }

.nombre {
  text-align: center;
  margin-top: 20px;
  border: solid gray 1px; }

.del-todo-pago {
  width: 100%;
  color: black;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: "Radio Canada", sans-serif;
  align-items: center;
  border: solid gray 1px;
  margin-bottom: 10px; }

.titulo_productos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
  border: solid gray 1px; }




.container_tituloContac {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid gray 1px; }

.container_titulo {
  border: solid gray 1px; }

.card_container {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid gray 1px;
  border-radius: 20px;
  justify-content: center;
  margin: 10px 10px; }

.container_galeria {
  border: solid gray 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px; }

.productos {
  width: 200px;
  height: 320px;
  margin: 40px;
  border-radius: 3px;
  border: solid gray 1px; }

.text-area {
  background-color: #eeeeee; }

input {
  background-color: #eeeeee; }

ul {
  background-color: #fd5d5d; }

.foot {
  background-color: #2fc4b2; }

/*CONDICIONALES Y BUCLES*/
h1, h2 {
  color: #2fc4b2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(/image/fondo-pagina.svg);
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/ }

.barra {
  width: 100%;
  background-color: #2fc4b2;
  display: none; }

@media screen and (max-width: 720px) {
  .botones {
    display: none; } }

@media screen and (min-width: 720px) {
  .bar-sup {
    display: none; } }

h1 {
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 900; }

h3 {
  color: #2fc4b2;
  font-family: "Oswald", sans-serif;
  font-weight: 900; }

input {
  margin: 4px;
  width: 40%;
  height: 30px; }

li {
  margin: 10px; }

.content_gridNombre {
  width: 90%;
  margin: auto; }

.content_gridNombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px; }
  .content_gridNombre .mascota {
    width: 15%; }
  .content_gridNombre .comida {
    width: 7%; }
  .content_gridNombre .descripcion_bulldog {
    color: #3483fa;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }

.nombre {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@media screen and (max-width: 720px) {
  .nombre {
    display: flex;
    flex-direction: column; } }

.nombre- {
  text-align: center;
  margin: auto; }

.h3nombre {
  color: #3483fa; }

.nombre_logo {
  text-align: center; }

/*ANIMACION EN LOGO*/
.logo {
  border: solid 2px #2fc4b2;
  border-radius: 50%;
  width: 60px;
  animation-name: animacion-logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes animacion-logo {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  to {
    transform: scale(1); } }

@media screen and (max-width: 720px) {
  .tituloGrid {
    grid-template-columns: 1fr; } }

.head {
  width: 100%; }

.nombre.h1 {
  margin-top: 0; }

.formulario {
  padding: 20px;
  text-align: right;
  margin: 0px 90px -47px -90px; }

ul {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0; }

@media screen and (max-width: 720px) {
  ul {
    display: flex;
    flex-direction: column;
    text-align: center; } }

.container-fluid {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 720px) {
  .navbar {
    display: flex;
    flex-direction: column; } }

a {
  color: #eeeeee;
  text-decoration: none; }

a:hover,
a:focus {
  color: #eeeeee; }

.p-seleccionados {
  text-align: center;
  margin-top: 20px;
  color: #3483fa; }

.container_tituloProductos {
  width: 100%;
  height: auto;
  text-align: center; }


/*CARRUSEL*/
.container-carrusel {
  background: linear-gradient(#2fc4b2);
  margin: 15px;
  border-radius: 30px; }
  .container-carrusel .foto_carrusel {
    width: 55%;
    height: 350px;
    object-fit: cover;
    object-position: center; }
  .container-carrusel .carousel-inner {
    text-align: center; }

.titulo-video {
  color: #3483fa; }

.titulo-delivey {
  color: #3483fa; }

.reparto_detopa {
  width: 30%; }

.contenido {
  width: 310px; }

/*FOOTER*/
.foot .redes img {
  width: 40px; }

.foot .redes {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 23px; }

.foot_container_logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #12947f; }

.logo_foot {
  width: 50px;
  border: solid 2.5px #2fc4b2;
  border-radius: 50%; }

h2 {
  font-family: "Oswald", sans-serif; }

h4 {
  font-family: "Radio Canada", sans-serif;
  color: white;
  text-align: center;
  margin: 10px 10px; }

.container_tips {
  font-size: 25px;
  padding-top: 20px; }

.card_tips {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row; }

@media screen and (max-width: 720px) {
  .card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center; } }

.container_tips {
  color: #2fc4b2; }

.tips {
  color: black; }

img {
  width: 85%; }

p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 4px; }

.titulo {
  text-decoration: none; }

@media screen and (max-width: 720px) {
  .titulo_productos {
    display: flex;
    flex-direction: column; } }

.container_direccion {
  width: 60%; }

.container_ofertas {
  width: 100%;
  text-align: center; }

.sub_logo {
  text-decoration: none; }

  .carrito{
    width: 5%;
  }
.list-group{
  background: none;
}

.tituloP{
  text-align: center;
  color: #3483fa;
}
.ofertas {
  color: #3483fa;
  text-decoration: none;
  line-height: 20px;
  }

.cotiza {
  text-align: center;
  width: 100%;
  background-color: #2fc4b2;
  margin-top: 20px; }

.boton_cotiza {
  font-size: 30px;
  color: #eeeeee;
  font-family: "Roboto", sans-serif; }

.boton_cotiza:hover {
  color: #eeeeee; }

.container_productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase; }

.descripcion {
  text-align: center;
  margin-top: 10px; }

.image_producto {
  margin-top: 25px;
  margin-left: 30px; }

.boton_comprar {
  margin-top: 14px; }

.comprar {
  width: 120px;
  height: 33px;
  background-color: #3483fa;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px; }

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .form_container .titulo_form_text {
    color: #eeeeee; }
  .form_container .titulo_form {
    background-color: #2fc4b2;
    margin: 10px 0  10px 0;
    padding: 5px; }
  .form_container .form_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px; }

.comentario {
  color: black; }

.titulo_comentario {
  color: black; }

#mensaje {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 7px; }

.direccion {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.quienes_container {
  text-align: center; }

.quienes_somos {
  justify-content: center;
  width: 100%;
  text-align: center;
  line-height: 20px; }

.container_empresa {
  width: 100%;
  display: flex;
  justify-content: center; }
  .container_empresa .empresa {
    width: 70%;
    padding: 10px;
    text-align: center;
    border: gray solid 1px; }

.titulo_quienes {
  color: #2fc4b2; }

.fabrica {
  width: 100%; }

.grid_galeria {
  width: 95%;
  margin: 2.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@media screen and (max-width: 720px) {
  .grid_galeria {
    display: flex;
    flex-direction: column; } }

 