/*COLORS*/
$color-fondo: #2fc4b2;
$color-red-bar: #fd5d5d;
$color-white: #eeeeee;

/*SIZE*/
$size-media-queris: 720px;
$ancho-max: 100%;
 
/*BORDER CARD*/
$border: solid gray 1px;

/*FONT*/
$small-text: "Roboto", sans-serif;
$medium-text: "Radio Canada", sans-serif;
$big-text: "Oswald", sans-serif;
/*-----------------------------------------------------------------------------------------------*/



