@import "css/scss/var";
@import "css/scss/mixin";
@import "css/scss/extend";
@import "css/scss/map";
@import "css/scss/bucles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image: url(/image/fondo-pagina.svg);
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
}

.barra {
  width: $ancho-max;
  background-color: $color-fondo;
  display: none;
}

@media screen and (max-width: $size-media-queris) {
  .botones {
    display: none;
  }
}

@media screen and (min-width: $size-media-queris) {
  .bar-sup {
    display: none;
  }
}

h1 {
  margin-top: 10px;
  font-family: $big-text;
  font-weight: 900;
}

h3 {
  color: $color-fondo;
  font-family: $big-text;
  font-weight: 900;
}

input {
  margin: 4px;
  width: 40%;
  height: 30px;
}

li {
  margin: 10px;
}

.content_gridNombre {
  width: 90%;
  margin: auto;
}

.content_gridNombre {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 10px;
  margin-top: 10px;

  .mascota {
    width: 15%;
  }

  .comida {
    width: 7%;
  }

  .descripcion_bulldog {
    color: #3483fa;
    font-size: 20px;
    font-family: $small-text;
  }
}
.nombre{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: $size-media-queris) {
  .nombre {
    display: flex;
    flex-direction: column;
  }
}
.nombre-{
  text-align: center;
  margin: auto;
}
.h3nombre{
  color: #3483fa;
}

.nombre_logo {
  text-align: center;
}

/*ANIMACION EN LOGO*/
.logo {
  border: solid 2px $color-fondo;
  border-radius: 50%;
  width: 60px;
  animation-name: animacion-logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes animacion-logo {
    from {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    to {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: $size-media-queris) {
  .tituloGrid {
    grid-template-columns: 1fr;
  }
}

.head {
  width: $ancho-max;
}

.nombre.h1 {
  margin-top: 0;
}

.formulario {
  padding: 20px;
  text-align: right;
  margin: 0px 90px -47px -90px;
}

ul {
  width: $ancho-max;
  font-family: $small-text;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: $size-media-queris) {
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $size-media-queris) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

a {
  color: #eeeeee;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #eeeeee;
}
.p-seleccionados{
  text-align: center;
  margin-top: 20px;
  color: #3483fa;
}

.container_tituloProductos {
  width: 100%;
  height: auto;
  text-align: center;
}

/*CARRUSEL*/
.container-carrusel {
  background: linear-gradient($color-fondo);
  margin: 15px;
  border-radius: 30px;

  .foto_carrusel {
    width: 55%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }

  .carousel-inner {
    text-align: center;
  }
}
.titulo-video{
  color: #3483fa;
}
.titulo-delivey{
  color: #3483fa;
}
.reparto_detopa {
  width: 30%;
}

.contenido {
  width: 310px;
}

/*FOOTER*/
.foot {
  .redes img {
    width: 40px;
  }

  .redes {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 23px;
  }
}

.foot_container_logo {
  width: $ancho-max;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #12947f;
}

.logo_foot {
  width: 50px;
  border: solid 2.5px $color-fondo;
  border-radius: 50%;
}

h2 {
  font-family: $big-text;
}

h4 {
  font-family: $medium-text;
  color: white;
  text-align: center;
  margin: 10px 10px;
}

.container_tips {
  font-size: 25px;
  padding-top: 20px;
}

.card_tips {
  width: $ancho-max;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

@media screen and (max-width: $size-media-queris) {
  .card_container {
    width: $ancho-max;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.container_tips {
  color: $color-fondo;
}

.tips {
  color: black;
}

img {
  width: 85%;
}

p {
  width: $ancho-max;
  font-family: $small-text;
  text-align: center;
  margin: 4px;
}

.titulo {
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .titulo_productos {
    display: flex;
    flex-direction: column;
  }
}

.container_direccion {
  width: 60%;
}

.container_ofertas {
  width: $ancho-max;
  text-align: center;
}

.sub_logo {
  text-decoration: none;
}

.ofertas {
  color: #3483fa;
  text-decoration: none;
  line-height: 70px;
  margin-top: 5%;
}

.cotiza {
  text-align: center;
  width: $ancho-max;
  background-color: $color-fondo;
  margin-top: 20px;
}

.boton_cotiza {
  font-size: 30px;
  color: #eeeeee;
  font-family: $small-text;
}

.boton_cotiza:hover {
  color: #eeeeee;
}

.container_productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.descripcion {
  text-align: center;
  margin-top: 10px;
}

.image_producto {
  margin-top: 25px;
  margin-left: 30px;
}

.boton_comprar {
  margin-top: 14px;
}

.comprar {
  width: 120px;
  height: 33px;
  background-color: #3483fa;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  font-family: $small-text;
  letter-spacing: 1px;
}

.form_container {
  width: $ancho-max;
  display: flex;
  flex-direction: column;

  .titulo_form_text {
    color: #eeeeee;
  }

  .titulo_form {
    background-color: $color-fondo;
    margin: 10px 0  10px 0 ;
    padding: 5px;
  }

  .form_box {
    width: $ancho-max;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.comentario {
  color: black;
}

.titulo_comentario {
  color: black;
}

#mensaje {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 7px;
}

.direccion {
  width: $ancho-max;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.quienes_container {
  text-align: center;
}

.quienes_somos {
  justify-content: center;
  width: $ancho-max;
  text-align: center;
  line-height: 20px;
}

.container_empresa {
  width: $ancho-max;
  display: flex;
  justify-content: center;

  .empresa {
    width: 70%;
    padding: 10px;
    text-align: center;
    border: gray solid 1px;
  }
}

.titulo_quienes {
  color: $color-fondo;
}

.fabrica {
  width: $ancho-max;
}

.grid_galeria {
  width: 95%;
  margin: 2.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
}

@media screen and (max-width: $size-media-queris) {
  .grid_galeria {
    display: flex;
    flex-direction: column;
  }
}
